<h1>login 페이지 입니다</h1>
<a href="/">index</a>
<a href="/logout">logout</a>
<hr>
<%= n %><br>
<% const msg = "java script 언어만 사용가능"; %>
<% const arr = [10, 20, 30]; %>
<%= msg %><br>
<%= arr %><br>
<%= arr[0] %>